# Virtual environments
data/revisions/**/venv/
venv/
**/venv/
**/venv/**

# Log files
**/logs.txt
logs.txt

# Nodes directories inside data/nodes (all node repositories)
data/nodes/*
!data/nodes/.gitkeep

.next/
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Linux
.directory

# Other
data/comfy-logs.txt
data/temp/