aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiohttp_socks==0.11.0
aiosignal==1.4.0
alembic==1.17.2
annotated-types==0.7.0
attrs==25.4.0
av==16.0.1
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
comfyui-embedded-docs==0.3.1
comfyui_frontend_package==1.34.9
comfyui_workflow_templates==0.7.59
comfyui-workflow-templates-core==0.3.43
comfyui-workflow-templates-media-api==0.3.22
comfyui-workflow-templates-media-image==0.3.36
comfyui-workflow-templates-media-other==0.3.47
comfyui-workflow-templates-media-video==0.3.19
cryptography==46.0.3
deepdiff==8.6.1
einops==0.8.1
filelock==3.20.1
frozenlist==1.8.0
fsspec==2025.12.0
gguf==0.13.0
gitdb==4.0.12
GitPython==3.1.45
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
huggingface-hub==0.36.0
hyperframe==6.1.0
idna==3.11
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kornia==0.8.2
kornia_rs==0.1.10
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matrix-nio==0.25.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.7.0
networkx==3.6.1
numpy==2.4.0
orderly-set==5.5.0
packaging==25.0
piexif==1.1.3
pillow==12.0.0
pip==25.0
propcache==0.4.1
protobuf==6.33.2
psutil==7.2.1
py-cpuinfo==9.0.0
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pydantic-settings==2.12.0
PyGithub==2.8.1
Pygments==2.19.2
PyJWT==2.10.1
PyNaCl==1.6.1
python-dotenv==1.2.1
python-socks==2.8.0
PyYAML==6.0.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
safetensors==0.7.0
scipy==1.16.3
sentencepiece==0.2.0
setuptools==80.9.0
shellingham==1.5.4
smmap==5.0.2
spandrel==0.4.1
SQLAlchemy==2.0.45
sympy==1.14.0
tokenizers==0.22.1
toml==0.10.2
torch==2.9.1
torchaudio==2.9.1
torchsde==0.2.6
torchvision==0.24.1
tqdm==4.67.1
trampoline==0.1.2
transformers==4.57.3
typer==0.21.0
typing_extensions==4.15.0
typing-inspection==0.4.2
unpaddedbase64==2.1.0
urllib3==2.6.2
uv==0.9.21
yarl==1.22.0
